<nav class="navbar navbar-expand-lg app-navbar">
    <div class="container-fluid">
        <button class="btn btn-link d-lg-none" id="sidebarToggle" style="color: #1F3BB3; font-size: 24px; padding-left: 0; text-decoration: none;">
            <i class="fa-solid fa-bars"></i>
        </button>

        <div class="navbar-left ms-2">
            <h3 class="welcome-text" style="font-size: clamp(16px, 4vw, 24px); margin-bottom: 0;">
                Selamat Datang, <span class="text-black fw-bold">Royandi</span>
            </h3>
            <p class="welcome-sub-text d-none d-sm-block" style="margin-bottom: 0;">
                Sistem Deteksi Dini Penyakit Tanaman Jagung
            </p>
        </div>

        <ul class="navbar-nav ms-auto align-items-center flex-row">
            <li class="nav-item d-none d-lg-block me-3">
                <div class="search-box">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="text" placeholder="Cari di sini">
                </div>
            </li>

            <li class="nav-item mx-2 mx-md-3">
                <div class="position-relative">
                    <i class="fa-regular fa-bell icon-nav"></i>
                    <span class="position-absolute top-0 start-100 translate-middle p-1 bg-danger border border-light rounded-circle"></span>
                </div>
            </li>

            <li class="nav-item">
                <div class="d-flex align-items-center">
                    <img src="https://ui-avatars.com/api/?name=Royandi&background=1F3BB3&color=fff" alt="profil" class="profile-img">
                </div>
            </li>
        </ul>
    </div>
</nav>