<div class="sidebar-menu">
    <div class="sidebar-title">Menu Utama</div>

    <div class="nav-container">
        <a href="{{ url_for('index') }}"
           class="nav-link-custom {{ 'active' if request.endpoint == 'index' }}">
            <div class="icon-box-star">
                <i class="fa-solid fa-house"></i> </div>
            <span class="menu-text">Beranda</span>
        </a>

        <div class="sidebar-title">Fitur Sistem</div>

        <a href="{{ url_for('upload') }}"
           class="nav-link-custom {{ 'active' if request.endpoint == 'upload' }}">
            <div class="icon-box-star">
                <i class="fa-solid fa-file-arrow-up"></i>
            </div>
            <span class="menu-text">Unggah Gambar</span>
        </a>

        <a href="{{ url_for('dataset') }}"
           class="nav-link-custom {{ 'active' if request.endpoint == 'dataset' }}">
            <div class="icon-box-star">
                <i class="fa-solid fa-images"></i>
            </div>
            <span class="menu-text">Dataset</span>
        </a>

        <a href="{{ url_for('accuracy') }}"
           class="nav-link-custom {{ 'active' if request.endpoint == 'accuracy' }}">
            <div class="icon-box-star">
                <i class="fa-solid fa-chart-column"></i>
            </div>
            <span class="menu-text">Akurasi Model</span>
        </a>
    </div>
</div>